.cardBorder{
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    box-shadow: 8px 9px 11px rgb(17, 0, 0);
}